image: python:3.12-slim

variables:
  P_LANG: "python" # Default value, may be overridden via GitLab CI/CD UI

stages:
  - pre
  - blackbox-tests

.docker:
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "/certs/client"
  image: docker
  tags:
    - dind
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - echo "$CI_JOB_TOKEN" | docker login gitlab.education.tbank.ru:443 -u gitlab-ci-token --password-stdin

show_variables:
  stage: pre
  script:
    - printenv | sort

Run Black Box Tests:
  stage: blackbox-tests
  extends:
    - .docker
  before_script:
    - apk add --no-cache python3 py3-pip
    - ln -sf /usr/bin/python3 /usr/bin/python
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install --upgrade pip
    - pip install pytest
  script:
    - mkdir -p tests/tmp
    - chmod +x tests/run_unit.sh tests/run.sh
    - docker build . -t app
    - ./tests/run.sh tests/cases
    - ./tests/run_unit.sh tests/unit