image: python:3.12-slim

variables:
  P_LANG: "python" # Default value, may be overridden via GitLab CI/CD UI

stages:
  - pre
  - lint
  - tests
  - blackbox-tests

.docker:
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "/certs/client"
  image: docker
  tags:
    - dind
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - echo "$CI_JOB_TOKEN" | docker login gitlab.education.tbank.ru:443 -u gitlab-ci-token --password-stdin

show_variables:
  stage: pre
  script:
    - printenv | sort

Run linters:
  stage: lint
  variables:
    POETRY_HOME: "/opt/poetry"
    POETRY_VIRTUALENVS_IN_PROJECT: true
    POETRY_NO_INTERACTION: 1
    PYTHONUNBUFFERED: 1
    PYTHONDONTWRITEBYTECODE: 1
  script:
    - export PATH="$POETRY_HOME/bin:$PATH"
    - apt-get update && apt-get install -y curl
    - curl -sSL https://install.python-poetry.org | python -
    - poetry install --no-root --with dev
    - poetry run black --check .
    - poetry run ruff check --output-format=github --target-version=py311

Run unit tests:
  stage: tests
  extends:
    - .docker
  script:
    - docker build --target tests . -t logs-app-tests
    - docker run logs-app-tests

Run Black Box Tests:
  stage: blackbox-tests
  extends:
    - .docker
  script:
    - sh ./scripts/run_acceptance_tests.sh tests/cases
